.imgwrap  {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 180px;
   vertical-align: middle;
}
.imgwrap-s  {
  display: inline-block;
  width: 100%;
  height: 150px;
  vertical-align: middle;
}

.imgwrap img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;

}
#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
#overlay a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.imgwrap:hover #overlay {
  opacity: 0.5;
}

.imgwrap-s img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;

}
.img-s {
  height: 80px;
  width: 80p
}
.media-object-section img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;
}

.thumbnail {
  max-width: auto;
}

.column {
  height: 100%;
}

.item-title {
  margin-top: 15px;
}